<!DOCTYPE html>
<html>
  <head>
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
    <h1>Welcome to Robot World</h1>

      <ul class="list-group">
        <li class="list-group-item"><a href="http://localhost:9393/robots">Robots</a></li>
        <li class="list-group-item"><a href="http://localhost:9393/robots/new">New Robot Creation</a></li>
      </ul>

    </div>
      <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src='js/bootstrap.js'></script>
  </body>
</html>
