<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='css/bootstrap.css' rel='stylesheet'>
  <title></title>
</head>
<body>
  <div class="row">
    <div class="col-md-6">

      <form action="/robots/ <%= @robot.id %>" method="post">
        <h3>Edit your Robots</h3>
        <input type="hidden" name="_method" value="PUT">

        <input type="text" name="robot[name]" placeholder="Name">
        <input type="text" name="robot[city]" placeholder="City">
        <input type="text" name="robot[state]" placeholder="State">
        <input type="text" name="robot[avatar]" placeholder="Avatar">
        <input type="text" name="robot[birthdate]" placeholder="Birthdate">
        <input type="text" name="robot[date_hired]" placeholder="Date Hired">
        <input type="text" name="robot[department]" placeholder="Department">
        <input type='submit'/>

      </form>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='js/bootstrap.js'></script>
</body>
</html>
