<form action = "/robots" method = "post">
  <p>Create a New Robot:</p>
  <input type="text" name="robot[name]" placeholder="Name">
  <input type="text" name="robot[city]" placeholder="City">
  <input type="text" name="robot[state]" placeholder="State">
  <input type="text" name="robot[avatar]" placeholder="Avatar">
  <input type="text" name="robot[birthdate]" placeholder="Birthdate">
  <input type="text" name="robot[date_hired]" placeholder="Date Hired">
  <input type="text" name="robot[department]" placeholder="Department">
  <input type='submit'/>
</form>
